body{
    background-color: aqua;
}
.container {
    background-color: aqua;
    margin: 1rem;
    padding: 1rem;
    /*border: 2px solid #ccc;
    /* IMPORTANTE */
    text-align: center;
  }

.container2 {
   
    margin: 1rem;
    padding: 1rem;
    /*border: 2px solid #ccc;
    /* IMPORTANTE */
    text-align: center;
}
.tipo{
    
    padding: 10px;
    margin: 80px;
        
    /* IMPORTANTE */
    display: inline-block;
}
.recuadro{
    background: #7e23a8;
      padding-bottom: 100px;
      border-radius: 38px 38px 38px 38px;
      -moz-border-radius: 38px 38px 38px 38px;
      -webkit-border-radius: 38px 38px 38px 38px;
      border: 2px solid #186a4d;
  }
  .recuadro-div{
    background: #7e23a800;
      padding-bottom: 100px;
      border-radius: 38px 38px 38px 38px;
      -moz-border-radius: 38px 38px 38px 38px;
      -webkit-border-radius: 38px 38px 38px 38px;
  }
.posicion-texto1{
    margin-top: -900px;
    margin-left: -00px;
}
.posicion-texto2{
    margin-top: 400px;
    margin-left: 00px;
}
.posicion-texto3{
    margin-top: 350px;
    margin-left: 00px;
}
.letra{
    color: white;
    font-family: 'Boogaloo', cursive;
}
.libro:hover{
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
    transition-duration: 1s, 1s;
    opacity: 0.7;
    filter: alpha(opacity=70);
}
.ocultar{
    display: none;
}
.posicion{
    width: 450px;
    height: 300px;
    margin-top: -300px;
    margin-left: -150px;
    left: 50%;
    top: 50%;
    position: absolute;
    }
    .volver {
        width: 250px;
        height: 75px;
        
        color: #fff !important;
        text-transform: uppercase;
        text-decoration: none;
        background: rgb(204, 68, 50);
        padding: 10px;
        border-radius: 5px;
        display: inline-block;
        border: none;
        transition: all 0.4s ease 0s;
        font-size: 25;
        font-family: ui-serif;
        margin-top: 0;
        
        border-radius: 50px;
    }
    .volver:hover{
        background: rgb(188, 143, 188);
        letter-spacing: 1px;
        -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
        transition: all 0.4s ease 0s;
      }
.img{
    width: 450px;
    height: 350px;;
}
.posicion-texto-ortografia{
    margin-top: -1000px;
    margin-left: 00px;
}

.posicion-texto-abecedario{
    margin-top: 400px;
    margin-left: 00px;
}
.posicion-texto-cuento{
    margin-top: 420px;
    margin-left: 00px;
}
.titulo{
    text-align: center; 
    font-family: Comic Sans MS; 
    font-weight:bold; 
    font-size: 75px; 
    color: #FF8000; 
    text-shadow: -1px 0 #414D68, 0 1px #414D68, 1px 0 #414D68, 0 -1px #414D68, -2px 2px 0 #414D68, 2px 2px 0 #414D68, 1px 1px #414D68, 2px 2px #414D68, 3px 3px #414D68, 4px 4px #414D68, 5px 5px #414D68, 6px 6px #414D68, 7px 7px #414D68, 8px 8px #414D68, 9px 9px #414D68;
    }