:root {
  --backgroundColor: rgba(246, 241, 209);
  --colorShadeA: rgb(106, 163, 137);
  --colorShadeB: rgb(121, 186, 156);
  --colorShadeC: rgb(150, 232, 195);
  --colorShadeD: rgb(187, 232, 211);
  --colorShadeE: rgb(205, 255, 232);
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}
/*body{
    background-color: #b4c0c0;
    margin: 1rem;
    padding: 1rem;
    /* IMPORTANTE 
    
    text-align: center;

    display: block;
    margin: 8px;
}*/
body{
  background: url("../img/fondo_div.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
.container {
    background-color:  white;
    margin: 1rem;
    padding: 1rem;
    border: 2px solid #ccc;
    /* IMPORTANTE */
    text-align: center;
  }

.imagen {
    width: 400px;
    height: 375;
}

.hijos{
    
    padding: 15px;
    margin: 15px;
        
    /* IMPORTANTE */
    display: inline-block;
}
.padre {
    
    height: 500px;
    /*IMPORTANTE*/
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hijo {
    margin: 1rem;
    padding: 1rem;
    border: 2px solid #ccc;
    width: 500px;
  }
  .hijo2 {
    margin: 1rem;
    padding: 1rem;
    /*border: 2px solid #ccc;*/
    width: 500px;
  }
  .opcion{
    color: tomato;
  }
.ocultar{
  display: none;
}
.tuclase{
  text-align: left; 
  font-family: Comic Sans MS; 
  font-weight:bold; 
  font-size: 30px; 
  color: #EBD758; 
  text-shadow: -1px 0 #414D68, 0 1px #414D68, 1px 0 #414D68, 0 -1px #414D68, -2px 2px 0 #414D68, 2px 2px 0 #414D68, 1px 1px #414D68, 2px 2px #414D68, 3px 3px #414D68, 4px 4px #414D68, 5px 5px #414D68, 6px 6px #414D68, 7px 7px #414D68, 8px 8px #414D68, 9px 9px #414D68;
  }

.txtOption{
  padding: 13px 22px 13px 0;
  background-color: teal;
}
.txtOption input:checked ~ label:after{
  background-color: tomato;
}

.celda{
  display: table-cell;
  vertical-align: center;
  height: 100%;
}
.radio {
    position: absolute;
    top: 0.2rem;
    left: 0;
    height: 2.5rem;
    width: 2.5rem;
    background: #c9ded6;
    border-radius: 50%;
  }
.radio::after{
    content: '';
      position: absolute;
      opacity: 0;
      top: .5rem;
      left: .5rem;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      background: #fff;
  }
  .radiobtn {
    position: relative;
    display: block;
  }
  .radiobtn label {
    display: block;
    background: #fee8c3;
    color: #444;
    border-radius: 5px;
    padding: 10px 20px;
    border: 2px solid #fdd591;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 20px;
  }
  .radiobtn label:after, .radiobtn label:before {
    content: "";
    position: absolute;
    right: 11px;
    top: 11px;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    background: #fdcb77;
  }
  .radiobtn label:before {
    background: transparent;
    -webkit-transition: 0.1s width cubic-bezier(0.075, 0.82, 0.165, 1) 0s, 0.3s height cubic-bezier(0.075, 0.82, 0.165, 2) 0.1s;
    transition: 0.1s width cubic-bezier(0.075, 0.82, 0.165, 1) 0s, 0.3s height cubic-bezier(0.075, 0.82, 0.165, 2) 0.1s;
    z-index: 2;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 13px;
    background-position: center;
    width: 0;
    height: 0;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNS4zIDEzLjIiPiAgPHBhdGggZmlsbD0iI2ZmZiIgZD0iTTE0LjcuOGwtLjQtLjRhMS43IDEuNyAwIDAgMC0yLjMuMUw1LjIgOC4yIDMgNi40YTEuNyAxLjcgMCAwIDAtMi4zLjFMLjQgN2ExLjcgMS43IDAgMCAwIC4xIDIuM2wzLjggMy41YTEuNyAxLjcgMCAwIDAgMi40LS4xTDE1IDMuMWExLjcgMS43IDAgMCAwLS4yLTIuM3oiIGRhdGEtbmFtZT0iUGZhZCA0Ii8+PC9zdmc+);
  }
  .radiobtn input[type="radio"] {
    display: none;
    position: absolute;
    width: 100%;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
  .radiobtn input[type="radio"]:checked + label {
    background: #fdcb77;
    -webkit-animation-name: blink;
            animation-name: blink;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    border-color: #fcae2c;
  }
  .radiobtn input[type="radio"]:checked + label:after {
    background: #fcae2c;
  }
  .radiobtn input[type="radio"]:checked + label:before {
    width: 20px;
    height: 20px;
  }
  
  @-webkit-keyframes blink {
    0% {
      background-color: #fdcb77;
    }
    10% {
      background-color: #fdcb77;
    }
    11% {
      background-color: #fdd591;
    }
    29% {
      background-color: #fdd591;
    }
    30% {
      background-color: #fdcb77;
    }
    50% {
      background-color: #fdd591;
    }
    45% {
      background-color: #fdcb77;
    }
    50% {
      background-color: #fdd591;
    }
    100% {
      background-color: #fdcb77;
    }
  }
  
  @keyframes blink {
    0% {
      background-color: #fdcb77;
    }
    10% {
      background-color: #fdcb77;
    }
    11% {
      background-color: #fdd591;
    }
    29% {
      background-color: #fdd591;
    }
    30% {
      background-color: #fdcb77;
    }
    50% {
      background-color: #fdd591;
    }
    45% {
      background-color: #fdcb77;
    }
    50% {
      background-color: #fdd591;
    }
    100% {
      background-color: #fdcb77;
    }
  }
  form {
    max-width: 250px;
    position: relative;
    margin: 50px auto 0;
    font-size: 15px;
  }

.button-image {
    background-image: url("../img/next.png"); /* 16px x 16px */
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 0px 0px;  /* equivalent to 'top left' */
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height: 16px;           /* make this the size of your image */
    padding-left: 16px;     /* make text start to the right of the image */
    vertical-align: middle; /* align the text vertically centered */
}
.tam{
  width: 20px;
  height: 20px;
}
.opcion{
  width: 150px;
  height: 50px;
  margin-left: 75px;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: tomato;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;

}
.opcion:hover{
  background: #434343;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}
.titulo-respuestas{
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #0926d4;
  font-size: 15px;
  font-weight: 700;
  padding: 3px 0 6px;
  line-height: 15px;
}

.button2 {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: 1.5rem;
  color:black;
  font-weight: 700;
  text-transform: uppercase;
  font-family: inherit;
}

.big-button {
   padding: 1em 2em;
   border: 2px solid var(--colorShadeA);
  border-radius: 1em;
  background: var(--colorShadeE);
transform-style: preserve-3d;
   transition: all 175ms cubic-bezier(0, 0, 1, 1);
}
.big-button::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--colorShadeC);
  border-radius: inherit;
    box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.75em 0 0 var(--colorShadeA);
 transform: translate3d(0, 0.75em, -1em);
     transition: all 175ms cubic-bezier(0, 0, 1, 1);
}


.big-button:hover {
  background: var(--colorShadeD);
  transform: translate(0, 0.375em);
}

.big-button:hover::before {
  transform: translate3d(0, 0.75em, -1em);
}

.big-button:active {
            transform: translate(0em, 0.75em);
}

.big-button:active::before {
  transform: translate3d(0, 0, -1em);
  
      box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.25em 0 0 var(--colorShadeB);

}
.posicion-comenzar{
  margin-top: -100px;
  margin-left: -100px;
left: 50%;
top: 50%;
position: absolute;
}
.ocultar_imagen{
  height:50%;
  width:50%;
  display: none;
  position: absolute;
  align-content: center;
  margin-left: 50px;
  margin-right: 500px;
  align-items: center;
}
.imagen2{
  width: 450px;
  height: 450px;
  margin-top: -300px;
  margin-left: -200px;
  left: 50%;
  top: 50%;
  position: absolute;
  }
  .centrar_final{
    
    width: 185px;
    height: 50px;
    margin-top: 600px;
    margin-left: 90px;
}
  



  

 
